<div *ngIf="activeIssue" class="solutions-list mt-3">
  <h3>
    {{ "FEATURES.ISSUES.INSIGHTS" | translate }}
  </h3>

  <p class="mb-3" *ngIf="activeIssue.logSummary; else emptyLogSummary">
    {{ activeIssue.logSummary }}
  </p>
  <ng-template #emptyLogSummary>
    <p class="mb-3 empty-content-padding">
      {{ "FEATURES.ISSUES.EMPTY_LOG_SUMMARY" | translate }}
    </p>
  </ng-template>
  <div
    class="accordion accordion-flush logs-container mb-3 py-0"
    id="accordionFlushExample"
    *ngIf="activeIssue.logs?.length"
  >
    <div class="accordion-item">
      <h2 class="accordion-header mb-0" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          id="accordion-button"
          data-bs-toggle="collapse"
          data-bs-target="#solutions-collapse"
          aria-expanded="false"
          aria-controls="solutions-collapse"
        >
          {{ "FEATURES.ISSUES.LOGS" | translate }}
        </button>
      </h2>
      <div
        id="solutions-collapse"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body py-1">
          <div class="logs-paragraphs-container" *ngIf="activeIssue?.logs.length; else emptySourcesParagraphTemplate">
            <p *ngFor="let log of activeIssue.logs" class="m-0">{{ log }}</p>
          </div>
          <ng-template #emptySourcesParagraphTemplate>
            <p class="mb-3 empty-content-padding">
              {{ "FEATURES.ISSUES.EMPTY_SOURCES_PARAGRAPHS" | translate }}
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <p class="mb-3" *ngIf="activeIssue.predictedSolutionsSummary; else emptyPredictedSolutionsSummary">
    <markdown class="variable-binding" [data]="activeIssue.predictedSolutionsSummary"></markdown>
  </p>
  <ng-template #emptyPredictedSolutionsSummary>
    <p class="mb-3 empty-content-padding">
      {{ "FEATURES.ISSUES.EMPTY_PREDICTED_SOLUTIONS_SUMMARY" | translate }}
    </p>
  </ng-template>
  <h3>{{ "FEATURES.ISSUES.SOURCES" | translate }}</h3>
  <div class="solution-sources-container" *ngIf="activeIssue.issuePredictedSolutionsSources?.length; else emptySourcesLinksTemplate">
    <div
      class="solution-source d-flex"
      *ngFor="let solutionSource of activeIssue.issuePredictedSolutionsSources"
      tabindex="0"
    >
      <i class="bi bi-copy me-3" (click)="copyLink(solutionSource)" [matTooltip]="'FEATURES.ISSUES.COPY_LINK' | translate"></i>
      <h4 role="link">{{ solutionSource }}</h4>
    </div>
  </div>
  <ng-template #emptySourcesLinksTemplate>
    <p class="mb-3 empty-content-padding">
      {{ "FEATURES.ISSUES.EMPTY_SOURCES_LINKS" | translate }}
    </p>
  </ng-template>
  <div class="d-flex align-items-center mt-3">
    <div class="likes-container">
      <i
              class="bi bi-hand-thumbs-up"
              (click)="positiveScoreSelected()"
              [ngClass]="activeIssue.score === 1 ? 'score-selected' : ''"
      ></i>
      <div class="divider"></div>
      <i
              class="bi bi-hand-thumbs-down"
              (click)="negativeScoreSelected()"
              [ngClass]="activeIssue.score === -1 ? 'score-selected' : ''"
      ></i>
    </div>
    <button [ngClass]="{'resolved': activeIssue.isResolved}" class="btn btn-secondary reload-button" (click)="markIssueAsResolved.emit()" [matTooltip]="'FEATURES.ISSUES.MARK_ISSUE_RESOLVED' | translate">
      <i class="bi bi-check-lg"></i>
    </button>
    <button class="btn btn-secondary reload-button" (click)="regenerateIssue.emit()" [matTooltip]="'FEATURES.ISSUES.REGENERATE_ISSUE' | translate">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
    <button class="btn btn-secondary reload-button" (click)="openReportIssueAnalysisModal()" [matTooltip]="'FEATURES.ISSUES.REPORT_ISSUE_ANALYSIS' | translate">
      <i class="bi bi-flag-fill"></i>
    </button>
  </div>
</div>
