.price-modal {
  border-radius: 8px;
  padding: 16px 40px;

  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .bi-x {
      height: 24px;
      width: 24px;

      &:before {
        height: 24px;
        vertical-align: 0;
        width: 24px;
      }
    }

    .modal-title {
      color: var(--primary);
      font-size: 30px;
    }
  }

  .modal-body {
    .price {
      font-size: 32px;
      color: var(--primary)
    }

    .what-you-get {
      font-size: 18px;
      color: var(--primary)
    }
  }

  .close-button {
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: flex;
    font-size: 20px;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
    position: absolute;
    right: 40px;
  }

  .btn-primary {
    margin-left: auto;
    margin-right: auto;
  }

  .section-divider {
    width: 100%;
    height: 2px;
    background-color: var(--light-bright);
    margin-top: 12px;
    margin-bottom: 12px;
  }

  li {
    list-style-type: none;

    .bi-check {
      font-size: 1.5rem;
      color: var(--green);
    }

    .bi-question-circle {
      color: var(--primary);
    }
  }

  p {
    font-size: 1.25rem;
    color: var(--grey);

    &.free-trial {
      color: var(--black);
    }
  }
}
