<div class="price-modal">
  <div class="modal-header">
    <h2 class="modal-title w-100 text-center mb-0">
      {{ "UI.PRO_VERSION_POPUP.PRO_VERSION" | translate }}
    </h2>
    <button
      type="button"
      class="close-button btn btn-secondary ms-auto"
      (click)="close()"
    >
      <i class="bi bi-x"></i>
    </button>
  </div>
  <div class="modal-body">
    <p class="mb-0 free-trial text-center">{{ "UI.PRO_VERSION_POPUP.FREE_30_DAYS_TRIAL" | translate }}</p>
    <h5 class="price text-center my-4">
      {{ price }} {{ "UI.PRO_VERSION_POPUP.PER_MONTH" | translate }}
    </h5>
    <p class="text-center mb-0">{{ "UI.PRO_VERSION_POPUP.UNSUBSCRIBE_ANYTIME" | translate }}</p>
    <div class="w-100 d-block">
      <button
              type="button"
              class="btn btn-primary w-50 my-4 d-block"
              (click)="tryProUpdate()"
      >
        {{ "UI.PRO_VERSION_POPUP.UPGRADE" | translate }}
      </button>
    </div>
    <div class="section-divider"></div>
    <h6 class="what-you-get my-3">
      {{ "UI.PRO_VERSION_POPUP.MOST_IMPORTANT_FUNCTIONS" | translate }}
    </h6>
    <ul class="ps-0">
      <li class="mt-1" *ngFor="let benefit of benefits; let i = index">
        <div class="d-flex">
          <i class="bi bi-check me-2"></i>
          {{ ("UI.PRO_VERSION_POPUP.PRO_VERSION_BENEFIT_" + (i + 1)) | translate }}
          <i class="bi bi-question-circle d-block ms-auto" *ngIf="benefit.hasTooltip" [matTooltip]="('UI.PRO_VERSION_POPUP.PRO_VERSION_BENEFIT_TOOLTIP_' + (i + 1)) | translate"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
