#issues-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 320px);

  &.extra-padding {
    padding-right: 12px;
  }

  ::ng-deep {
    app-issue-cell:first-child {
      .issue-container {
        margin-top: 0;
      }
    }
  }
}