<div class="dropdown mr-3" (click)="$event.stopPropagation()" *ngIf="agentState">
    <button aria-expanded="false" #dropdownButton class="btn btn-secondary dropdown-toggle p-0" data-bs-toggle="dropdown"
            type="button">
        <i class="bi bi-gear"></i>
    </button>
    <div class="dropdown-menu" #dropdownMenu>
        <div class="form-group mb-5">
            <h3 class="mb-0">{{'UI.CONFIGURATION_DROPDOWN.AGENT' | translate}}</h3>
            <div class="section-divider"></div>
            <label class="form-label"
                   for="agentState">{{'UI.CONFIGURATION_DROPDOWN.STATUS' | translate}}</label>
            <div class="agent-state-toggle">
            <mat-slide-toggle
                    name="agentState"
                    id="agentState"
                    [(ngModel)]="agentState.state"
                    (ngModelChange)="setAgentState()"></mat-slide-toggle>
            </div>
        </div>

        <div class="form-group mb-0">
            <h3 class="mb-0">{{'UI.CONFIGURATION_DROPDOWN.ACCOUNT' | translate}}</h3>
            <div class="section-divider"></div>
            <button
                    type="button"
                    class="btn btn-primary mx-auto"
                    (click)="openBillingPortal()"
            >
                {{ "UI.PRO_VERSION_POPUP.MANAGE" | translate }}
            </button>
        </div>
    </div>
</div>