<div id="header">
  <a href="#" class="logos-container">
    <svg-icon
      class="img-logo"
      src="assets/image/signal_img_logo.svg"
      alt="Signal0ne"
    ></svg-icon>
    <svg-icon
      class="text-logo"
      src="assets/image/signal_text_logo.svg"
      alt="Signal0ne"
    ></svg-icon>
  </a>
  <div class="d-flex align-items-center controls-container">
    <svg *ngIf="isLoggedIn && isPro" [matTooltip]="'UI.HEADER.PRO_BADGE_TOOLTIP' | translate" class="pro-icon" fill="#F4D03F" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg>
    <button class="btn btn-pro" (click)="openProInfoModal()" [matTooltip]="'UI.HEADER.PRO_BUTTON_TOOLTIP' | translate">{{'UI.HEADER.PRO_BUTTON' | translate}}</button>
    <i
      class="bi bi-headset contact-icon"
      (click)="openContactModal()"
      (keydown)="openContactModalKeydown($event)"
      tabindex="0"
      [matTooltip]="'UI.HEADER.CONTACT_US' | translate"
    ></i>

    <app-configuration-dropdown *ngIf="
    configurationService.isCurrentAgentStateInitialized &&
    isLoggedIn"></app-configuration-dropdown>
    <button
      *ngIf="isLoggedIn"
      class="sign-out-icon bi bi-box-arrow-left"
      tabindex="0"
      (click)="logOut()"
    ></button>
    <div
      *ngIf="activeLanguage$ | async as activeLanguage"
      class="flags-container d-flex"
    >
      <img
        (click)="changeLanguage(LanguageVersion.EN)"
        (keydown)="changeLanguageKeydown(LanguageVersion.EN, $event)"
        [alt]="'UI.HEADER.US_FLAG_ALT' | translate"
        [ngClass]="activeLanguage === LanguageVersion.EN ? 'active' : ''"
        tabindex="0"
        class="me-3"
        src="assets/flag/US.png"
      />
      <img
        (click)="changeLanguage(LanguageVersion.PL)"
        (keydown)="changeLanguageKeydown(LanguageVersion.PL, $event)"
        [alt]="'UI.HEADER.PL_FLAG_ALT' | translate"
        [ngClass]="activeLanguage === LanguageVersion.PL ? 'active' : ''"
        tabindex="0"
        src="assets/flag/PL.png"
      />
    </div>
  </div>
</div>
